			 div.bg {
				background: #222222;
				height: 40px;
			}
			
			div.bg a {
				color: #9D9D9D;
				font-size: 12px;
			}
			
			div.bg a:hover {
				color: #D43F3A;
				text-decoration: underline;
			}
			
			div.bg a:checked {
				color: #D43F3A;
			}
			div.topAllLeft{
				margin-top:10px;
				margin-left: 5%;
			}
			div p.top_left {
				float: left;
				margin-right: 20px;
				color: #737373;
				font-size: 12px;
			}
			div.top_right{
				margin-top: 10px;
				margin-right: 5%;
			}
			div.top_right ul {
				margin:0px 10px;
				padding: 0px;
			}
			div.top_right ul li.topRli {
				float: right;
				margin: 0px 10px;
			}

			/*search*/
			.container .searchBox {
				margin: 15px 0px 5px;
				height: 70px;
				padding: 0px;
			}
			div.searchInput .searchWidth {
				width: 380px;
				display: inline;
				margin-right: -4px;
				height: 34px;
			}
			div.searchInput .searchForm{
				height: 35px;
				margin-top: 20px;
				text-align: right;
			 }
			
			
			