        ul.userNavH{
			/*width: 100%;*/
			margin: 0px;
			height: 70px;
		}
		
		.userNavH li{
			margin-top:25px;
			line-height: 20px;
			font-weight: bold;
			list-style: none;
			border-right: 1px solid #9D9D9D;
		}
		.userNavH li:last-child{
			border: none;
			color: #D43F3A;
		}
		.userNavH li a,
		.userNavH li {
			padding-left: 15px;
			padding-right: 15px;
			color: #333;
			text-decoration: none;
			font-size: 16px;
		}
		.userNavH li a:hover{
			color: #AC2925;
		}
		.clickStyle{
			color: #D43F3A;
		}
