div.userLeftNavDiv{
	margin-top: 15px;
}
div.userLeftNavDiv h4{
	color: #222222;
	padding:10px 0px 10px 20px;
	margin: 0px;
	font-size: 22px;
}
div.userLeftNavDiv ul{
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        border: #E8E8EA solid 1px;
        clear: all;
    }
div.userLeftNavDiv ul li{
        margin-left: 10px;
       	border: none;
       	line-height: 30px;
        list-style: none;
    }
div.userLeftNavDiv ul li a{
   	color: #666;
   	font-size: 15px;
   }
 div.userLeftNavDiv ul li a:hover{
   	color: #D43F3A;
   	text-decoration: none;
   }
  /*选中后变色*/

